@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* Убирает линии обводки ***************************************************/
:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

header,
footer,
nav,
aside {
  display: block;
}

/* Уравнивает параметры шрифтов на разных браузерах */
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* Прошу элементы форм наследовать стили элементов шрифта */
input,
button,
textarea {
  font-family: inherit;
}

/* Убирает крест у IE */
input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  bottom: 0;
}

a {
  color: inherit;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #424551;
  height: 100%;
}

div[class*="__container"] {
  margin: 0 auto;
  max-width: 1050px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px 15px;
}

.wrapper {
  min-height: 100%;
  margin: 0 auto;
  overflow: hidden;
  min-height: 100%;
}

.wrapper > :not(:last-child) {
  margin-bottom: 40px;
}

/* ===================================== */
.form1 {
  margin: 0 auto;
  max-width: 585px;
  background: rgba(93, 97, 181, 0.57);
  border-radius: 40px;
  padding: 76px 57px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 22px;
}

.form1 input,
.form1 textarea,
.form1 select {
  border: 2px solid #ffffff;
  border-radius: 10px;
  background: transparent;
  padding: 17px 23px;
  min-width: 224px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #ffffff;
}

.form1__text {
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  color: #ffffff;
  margin: 0px auto 21px auto;
}

.form1 input::-webkit-input-placeholder,
.form1 textarea::-webkit-input-placeholder {
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #ffffff;
}

.form1 input:-ms-input-placeholder,
.form1 textarea:-ms-input-placeholder {
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #ffffff;
}

.form1 input::-ms-input-placeholder,
.form1 textarea::-ms-input-placeholder {
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #ffffff;
}

.form1 input::placeholder,
.form1 textarea::placeholder {
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #ffffff;
}

.form1 select {
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #ffffff;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.form1 textarea {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  min-height: 180px;
  resize: none;
}

.form1 button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px 34px;
  min-height: 48px;
  background: #f2726f;
  border-radius: 8px;
  margin-left: auto;
  line-height: 2;
  letter-spacing: 0.15px;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 8px;
}

/* ===================================== */
.form2 {
  background: #f5f7ff;
  padding: 17px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 446px;
}

.form2__heading {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.form2__heading:not(:last-child) {
  margin-bottom: 18px;
}

.form2__sub-heading {
  font-size: 18px;
  line-height: 27px;
  color: #000000;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.form2__sub-heading:not(:last-child) {
  margin-bottom: 12px;
}

.form2__text {
  font-size: 14px;
  line-height: 143%;
  color: #000000;
}

.form2__text_gray {
  color: #666666;
}

.form2__block {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form2__block:not(:last-child) {
  margin-bottom: 5px;
}

.form2__block:nth-child(3) {
  margin-bottom: 17px;
}

.form2__block select,
.form2__block input {
  padding: 10px 17px;
  background: #ffffff;
  border: 1px solid #a2a6b0;
  border-radius: 4px;
}

.form2__title {
  font-weight: 600;
  font-size: 13px;
  line-height: 210%;
  color: #000000;
}

.form2__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form2__checkbox:not(:last-child) {
  margin: 0px 0px 17px 0px;
}

.form2__checkbox span {
  font-size: 14px;
  line-height: 143%;
  color: #000000;
  padding: 0px 0px 0px 8px;
}

.form2__checkbox input {
  margin-top: 2px;
}

/* ===================================== */
/* ===================================== */
/* ===================================== */
/* ===================================== */
/* ===================================== */
/* ===================================== */
/* ===================================== */
/* ===================================== */
/* ===================================== */
/* ===================================== */
/* ===================================== */
/* ===================================== */
/* ===================================== */
/* ===================================== */
/* ===================================== */
/* ===================================== */
/* ===================================== */
/* ===================================== */
/* ===================================== */
